/* Styling for the entire body of every page */

:root {
    /* Chose a readable font family to use */
    --font:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

body {
    background-color: black;
    scroll-behavior: smooth;
}
#mainBody {
    padding: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    color:aliceblue;
    font-family: var(--font);
}

#firstSection{
    height: 100vh;
    /* Flex makes it easier to position elements without disturbing other elements */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(../src/images/dark.gif);
    /* Stops it overlapping with header on page load */
    padding-top: -10%;
    /* Good size on all screen sizes */
    background-size: 60%;
    /* we want the gif to be centered */
    background-position:center;
    /* Stops the gif from being tiled across the page */
    background-repeat: no-repeat;
}
#secondSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#secondSection .profile{
    width: 20%;
    height: auto;
    /* make image round */
    border-radius: 50%;
}
#secondSection .about{
    width: 50%
}

#secondSection .notes{
    width: 50%;
    height: auto;
}


#thirdSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#thirdSection .notes{
    width: 50%;
    height: auto;
}

#headingImage {
    display: flex;
    justify-content: center;
    padding-right: 10%;
    padding-bottom: 5%;
}

#headingImage .aboutTitle{
    width: 30%;
}
#notes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}