/* Styling for the entire body of every page */

/* custom font */
@font-face {
    font-family: myHandwriting;
    src: url(../src/font/customFont.ttf);
}

/* Make the scrolling less jankey */
*{
    scroll-behavior: smooth;
}

body {
    background-color: black;
}
#mainBody {
    padding: 0;
    width: 100%;
    height: 100%;
    /* padding-top: 50px; */
    color:aliceblue;
    font-family: myHandwriting;
}

#homeCover{
    height: 100vh;
    /* Flex makes it easier to position elements without disturbing other elements */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(../src/images/dark.gif);
    /* Stops it overlapping with header on page load */
    padding-top: -10%;
    /* Good size on all screen sizes */
    background-size: 50%;
    /* we want the gif to be centered */
    background-position:center;
    /* Stops the gif from being tiled across the page */
    background-repeat: no-repeat;
}

#notesCover{
    height: 100vh;
    /* Flex makes it easier to position elements without disturbing other elements */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(../src/images/notesCoverWide.JPG);
    /* Stops it overlapping with header on page load */
    padding-top: -10%;
    /* Good size on all screen sizes */
    background-size: 50%;
    /* we want the gif to be centered */
    background-position:center;
    /* Stops the gif from being tiled across the page */
    background-repeat: no-repeat;
}
#projectsCover{
    height: 100vh;
    /* Flex makes it easier to position elements without disturbing other elements */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(../src/images/projectsCoverWide.JPG);
    /* Stops it overlapping with header on page load */
    padding-top: -10%;
    /* Good size on all screen sizes */
    background-size: 50%;
    /* we want the gif to be centered */
    background-position:center;
    /* Stops the gif from being tiled across the page */
    background-repeat: no-repeat;
}
.cover {
    display: none;
}

#secondSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
}

.paragraphs{
    font-size: 30px;
    width: 50vw;
}

#secondSection .notes{
    width: 60%;
    height: auto;
}


#thirdSection {
    padding-top: 5%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#thirdSection .notes{
    width: 60%;
    height: auto;
}

#headings {
    display: flex;
    justify-content: center;
}

#headings .subHeading{
    font-size: 50px;
}

.mainBodySections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-bottom: 20vh;   
}
.logo{
    width: 20%;
    height: auto;
    /* make image round */
    border-radius: 50%;
}
