


/* Styling for the header container */
header{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    position:fixed;
    /* Sets the font to the one defined in the :root section */
    font-family: myHandwriting;
    font-size: 30px;
    
}

header:hover{
    opacity: 1;
    background-color: black;
}

.showTopHeader{
    transition-duration: 0.5s;
    opacity: 1;
}

.hideTopHeader{
    transition-duration: 0.5s;
    opacity: 0;
}

/* Styling for the items in the actual navigation bar */
.topHeader {
    display: inline-flex;
    font-size: 30px;
    list-style: none;
}


/* Home button styling */
#home {
    padding-top: 25px;
    text-decoration: none;
    color: aliceblue;
    font-size: 40px;
}


/* Styling for the navigation links */
.link {
    text-decoration: none;
    /* Off-white because I do not want to blind anyone */
    color:aliceblue;
    /* Stops the elements overlapping and positions them better */
    position: relative;
    /* Adds spacing between the header elements */
    margin: 5px;
    padding: 5px 5px;
}
.link:hover {
    background: rgba(0, 255, 204, 0.467);
    border-radius: 20px;

}


