@media only screen and (max-width: 1000px) {

    header{
        border-radius: 0 0 2.5px 2.5px;
        background-color: black;
        /* margin-top: px; */
        height: 40px;
    }
    header .topHeader {
        align-items: right;
    }

    .topHeader {
        display: none;
    }
    
    #burgerLogo {
        opacity: 1;
        cursor:pointer;
    }

    



    .mainBodySections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 5vh;
        padding-bottom: 20vh;   
    }
    .paragraphs{
        font-size: 30px;
        width: 80vw;
        padding-right: 5vh;
    }
    .logo{
        margin-right: 5vh;
        width:200px;
    }
    #eduPara {
        order: 2;
    }
    #eduLogo {
        order: 1;
    }
    
}
